<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>IndexView</title>
    <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="/extjs-app/css/VerticalTab.css">
    <script type="text/javascript" src="/extjs/ext-all-dev.js"></script>
    <script type="text/javascript" src="/extjs-app/app.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
